



# Homework 1 Part 1: Pandas

Today, we'll practice data exploration in pandas! Each cell should consist of **a single line of pandas code**, answering the question, unless mentioned that **multiple lines of pandas can be used**. Also, **Instructions are provided before each coding exercise; please follow them accordingly**.

First, download the "Pizza Sales Dataset" from Kaggle.com (https://www.kaggle.com/datasets/nextmillionaire/pizza-sales-dataset?resource=download) and place it in this directory. **Make sure to create a Kaggle account first**.


List of some helpful functions in general:


* read_csv
* head
* unique
* sum
* mean
* median
* groupby
* apply (An important note about this one--pay careful attention to the weird axis argument. When you apply over a series, you often don't need it, but when you apply over a dataframe axis=1 and axis=0 will do very different things.)
* value_counts
* df.columns ('columns' is a dataframe variable that tracks the columns) [note: it is not a function, rather an attribute]
* isin
* fillna
* astype
* hist

## Section A: The Basics Setup (TOTAL POINTS: 04)

***Remember, all answers must be in A SINGLE LINE OF CODE in this section A.***

**(1 POINT)** First, import the pandas library as "pd"

**(1 POINT)** Now, read the dataframe and store it in a variable called "df".

**(1 POINT)** Let's get a feel for our dataframe. Print out the list of columns

**(1 POINT)** Now print out the first ten elements. There's a single function that does it by default.

## Section B: Exploration Part 01 (TOTAl POINTS:14)
***Remember, all answers must be in A SINGLE LINE OF CODE in this section B.***

**(2 POINTS)** How many pizza were orderd in **total**?

**(2 POINTS)** Print out what is the **Median** of **total price**?

**(3 POINTS)** Making it a bit more complicated â€” print out the median of the **'total price'** but only for the pizza_name_id named **'five_cheese_l'**

**(2 POINTS)** Calculate the **mean 'unit price'** for each unique **'pizza name id'**

Sample answer could be: <br>

bbq_ckn_l        20.75<br>
bbq_ckn_s        12.75
etc.

**(2 POINTS)** Print out the number of pizza by **'pizza size'**.

Your results should look something like: <br>
L      18526 <br>
M      15385 <br>
etc.

**(1 POINT)** Print out the number of pizza by **'pizza name'**..

Your results should look something like: <br>
The Classic Deluxe Pizza                      2416 <br>
The Barbecue Chicken Pizza                    2372 <br>
etc.

**(2 POINTS)** Print just the line for order date "1/1/2015" and order time "12:21:30". It will print/display **only one row**!

## Section C: Exploration Part 02 : Little bit advanced (TOTAL POINTS: 07)
***In this section C, you can use MULTIPLE LINE OF ANSWERS if needed***

**(3 POINTS)** Q1: Part one: Create a series 'c' by summing the 'quantity' for each unique 'pizza_name'. Then, sort the series 'c' in descending order, storing the result in 'c_sorted'." **hints**: use "sort_values"

**(1 POINT)** Q1: Part2: Now from "c_sorted";  find out which was the most-ordered pizza? **hints: it will be just one line code**

**(3 POINTS)** Display How many **Classic** pizza were ordered in **29-10-2015**

## Section D: Modifications : (TOTAL POINTS: 07)
***Remember, all answers must be in A SINGLE LINE OF CODE in this section D.***

Let's start modifying our dataframe! Remember, dataframe operations return a copy by default, so you'll either need to use the inplace=True, or just assign the dataframe back into itself (as in, df = df.someFunction()).

**(2 POINTS)** Take the Pizza Size column and **replace** 'M' with 'Medium' and 'L' with 'Large' in the 'pizza_size' column of the 'df' dataframe. Display the *first 10 rows* of the updated dataframe."

**(1 POINT)** Now make a new 'revenue' column, which should be total price + 10 dollars, as the company accidentally factored in an old discount.

**(2 POINTS)** Convert the 'order_date' datetime format using "to_datetime()". Display the updated 'order_date' column.

**(2 POINTS)** Calculate the total revenue for the period from January 1, 2015, to February 28, 2015

## Section E: Graph Visualization : (TOTAL POINTS: 02)
***Remember, all answers must be in A SINGLE LINE OF CODE in this section E. ***

**(2 POINTS)** Let's do some very basic graphing here! Create a histogram for the 'order_date' column. You can set color on your own choice.

Create a histogram that visualizes the frequency of each pizza category. Use the 'pizza_category' column from the dataset.

# ADDITIONAL Bonus Section (TOTAL POINTS: 06)
**Multiple lines code are allowed in this section**

**(5 POINTS)**

Now you need to load another dataset named "costs_ingredients.csv" in the directory.

The company forgot to calculate their profit! Recall that profit is revenue minus total **costs** to the company. You are given a list below of the integredient costs. Using these costs, compute first the total cost of each order, and then the respective revenue. **Hints: You may need to do some python code  with pandas**

**(1 POINT)** Plot a histogram of the profit. Do you see a problem... ?

Explain in a text block below.

Write down the explaination: the average is below zero; so not making any money